# Copyright 2008 Google Inc. All Rights Reserved.
# Author: falmeida@google.com (Filipe Almeida)

name = 'jsparser'

comment = 'Simplified finite state machine for tracking of javascript states'

condition('q', '\\\''),
condition('dq', '\\"'),
condition('/', '/'),
condition('*', '*'),
condition('lf', '\\n'),
condition('backslash', '\\\\'),
condition('default', '[:default:]')

# Main javascript body.
state(name = 'js_text',
      external = 'text',
      transitions = [
        ['q', 'js_q'],
        ['dq', 'js_dq'],
        ['/', 'js_comment'],
        ['default', 'js_text']
      ])

# Single quoted string literal.
state(name = 'js_q',
      external = 'q',
      transitions = [
        ['backslash', 'js_q_e'],
        ['q', 'js_text'],
        ['default', 'js_q']
      ])

# Javascript escaped character in a single quoted string literal.
state(name = 'js_q_e',
      external = 'q',
      transitions = [
        ['default', 'js_q']
      ])

# Double quoted string literal
state(name = 'js_dq',
      external = 'dq',
      transitions = [
        ['backslash', 'js_dq_e'],
        ['dq', 'js_text'],
        ['default', 'js_dq']
      ])

# Javascript escaped character in a double quoted string literal.
state(name = 'js_dq_e',
      external = 'dq',
      transitions = [
        ['default', 'js_dq']
      ])

# Possible start of a javascript comment.
state(name = 'js_comment',
      external = 'comment',
      transitions = [
        ['/', 'js_comment_ln'],
        ['*', 'js_comment_ml'],
        ['default', 'js_text']
      ])

# Start of a single line javascript comment (//).
state(name = 'js_comment_ln',
      external = 'comment',
      transitions = [
        ['lf', 'js_text'],
        ['default', 'js_comment_ln']
      ])

# Start of a multiline javascript comment (/*).
state(name = 'js_comment_ml',
      external = 'comment',
      transitions = [
        ['*', 'js_comment_ml_close'],
        ['default', 'js_comment_ml']
      ])

# Close of a multiline javascript comment (*/).
state(name = 'js_comment_ml_close',
      external = 'comment',
      transitions = [
        ['/', 'js_text'],
        ['default', 'js_comment_ml']
      ])

