# Author: falmeida@google.com (Filipe Almeida)

name = 'jsparser'

comment = 'Simplified finite state machine for tracking of javascript states'

states = [
#   internal state         external state
    ('js_text',             'text'),    # main js body
    ('js_q',                'q'),       # single quotes string
    ('js_q_e',              'q'),       # backslash escape
    ('js_dq',               'dq'),      # double quotes string
    ('js_dq_e',             'dq'),      # backslash escape
    ('js_comment',          'comment'), # / start of a comment
    ('js_comment_ln',       'comment'), # // single line comments
    ('js_comment_ml',       'comment'), # /* start of multiline comment
    ('js_comment_ml_close', 'comment')  # */ end of multiline comment
]

conditions = [
    ('q',       '\\\''),
    ('dq',      '\\"'),
    ('/',       '/'),
    ('*',       '*'),
    ('lf',      '\\n'),
    ('quote',   '\\\\'),
    ('default', '[:default:]')
  ]

transitions = [
    ('q',       'js_text',              'js_q'),
    ('dq',      'js_text',              'js_dq'),
    ('/',       'js_text',              'js_comment'),
    ('default', 'js_text',              'js_text'),

    ('quote',   'js_q',                 'js_q_e'),
    ('q',       'js_q',                 'js_text'),
    ('default', 'js_q',                 'js_q'), # TODO: This continues
                                                 # linefeeds. Should break
    ('default', 'js_q_e',               'js_q'),

    ('quote',   'js_dq',                'js_dq_e'),
    ('dq',      'js_dq',                'js_text'),
    ('default', 'js_dq',                'js_dq'), # TODO: This continues
                                                  # linefeeds. Should break
    ('default', 'js_dq_e',              'js_dq'),

    ('/',       'js_comment',           'js_comment_ln'),
    ('*',       'js_comment',           'js_comment_ml'),
    ('default', 'js_comment',           'js_text'),

    ('lf',      'js_comment_ln',        'js_text'),
    ('default', 'js_comment_ln',        'js_comment_ln'),

    ('*',       'js_comment_ml',        'js_comment_ml_close'),
    ('default', 'js_comment_ml',        'js_comment_ml'),

    ('/',       'js_comment_ml_close',  'js_text'),

    ('default', 'js_comment_ml_close',  'js_comment_ml'),
]
